<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">
<th:block layout:fragment="title">
    <title>UserList</title>
</th:block>

<th:block layout:fragment="content">
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>닉네임</th>
                    <th>이름</th>
                </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty( userList )}" th:each="row : ${userList}">
                <td th:text="${row.id}"></td>
                <td th:text="${row.nick}"></td>
                <td th:text="${row.name}"></td>
            </tr>
            <tr th:unless="${not #lists.isEmpty( userList )}">
                <td colspan="3">조회된 결과가 없습니다.</td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>